
@media (max-width: 767px){
    body{
        background-color: #333;
    }
    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 50px;
        background-color: #333;
        align-items: center;
    }
    .header1{
        display: none;

    }
    .header2{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 6vw;
        font-family: IMPACT;
        text-shadow: 5px 5px 1px rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
    #garfield {
        max-width: 140%;
        max-height: 140%;
    }
    .mainmenu{
        width: 100%;
        height: 70px;
        background-color: orange;
        display: flex;
        align-items: center;
        flex-direction: row;
        
    }
    .mainmenu1{
        width: 100%;
        margin: 25px 0px 25px 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .mainmenu2{
        display: none;
    }
    .mainmenuitem{
        display: none;
    }
    .pagemenu {
        display: none;
    }
    .mainmenu2img{
        display: none;
    }
    
    .page{
        background-color: rgb(234, 230, 230);
    }
    .maininfo{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        
    }
    .maininrow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        border-radius: 25px;
    }
    .maininfocol{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: trebuchet ms;
        text-align: center; 
        gap: 20px;
        border: 2px  solid orange;
        border-radius: 25px;
        background-color: white;
    }
    footer {
        width: 100%;
        height: 100px;
        background-color: orange;
        margin: 00px 0px;
    }

    

}
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 1024px){
    header {
    
        width: 100%;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    
    .header1 {
        display: flex;
        gap: 20px;  
        justify-content: center;
        align-items: center;
        height: 50%;
    }
    
    .header2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        font-size: 100px;
        font-family: IMPACT;
        text-shadow: 5px 5px 1px rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
    
    #garfield {
        max-width: 100%;
        height: 140%;
    }
    body {
        background-color: #333;
    }
    .main {
        width: 100%;
        height: 1000px;
    }
    .mainmenu{
        width: 100%;
        
        border-block: solid;
        writing-mode: horizontal-tb;
        height: 50px;
        border-color: orange;
        border-width: 2px;
        display: flex;
        flex-direction: row; 
        align-items: center;
    }
    .mainmenu1{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        gap: 20px;
        float: left;
    
    }
    .mainmenu2{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        
        float: left;
    
    }
    .mainmenuitem {
        flex-basis: calc((100%-20px)/5);
        font-family: trebuchet ms;
        color: orange;
        transition: all 0.3s ease;
        padding: 10px 20px;
    }
    .mainmenuitem:hover{
        color: #333;
        background-color: orange;
        padding: 15px 25px;
        
    }
    .page{
        width: 100%;
    }
    .pagemenu{
        width: 15%;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: orange;
        border-radius: 0px 10px 10px 0px ;
        margin-top: 50px;
        box-sizing: border-box;
        
        
    }
    .maininfo{
        width: 70%;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:  50px 20px;
        box-sizing: border-box;
        background-color: white;
        border: 2px solid orange;
        border-radius: 3%;
        
        
    }
    .advert{
        width:12%;
        float:right;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    .pagemenuitem{
        
        width: 100%;
        flex-basis: calc((100%-20px)/9);
        font-family: trebuchet ms;
        padding: 10px 20px;
        margin-top: 10px;
        text-align: center;
        transition: all 0.3s ease;
    }
    .pagemenuitem:hover{
        padding: 15px 0px;
        color: orange;
        background-color: #333;
        
    }
    .maininrow {
        width: calc(100%-100px);
        display: flex;
        flex-direction: row;
        margin: 10px;
    
    }
    .maininfocol {
        width: calc(100%/3);
        font-family: trebuchet ms;
        text-align: center;
        border: 2px  solid orange;
        transition: all 0.3s ease;
    }
    .maininfocol:hover {
        
        
        
        
        
    }
    .productimg{
        width: 100%;
        
    }
    .find {
        float: r;
    }
    .findinput {
        width: 300px;
        height: 40px;
    }
    footer {
        width: 100%;
        height: 100px;
        background-color: orange;
        margin: 200px 0px;
    }
    

}
